.profile__edit-button {
    background-image: url(../../../images/edit-button.svg);
    grid-area: edit-button;
    border: 1px solid #FFFFFF;
    width: 24px;
    height: 24px;
    background-color: inherit;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}
  
.profile__edit-button:hover {
    opacity: 0.6;
}

@media screen and (max-width: 768px) {
    .profile__edit-button {
        width: 18px;
        height: 18px;
    }
}