.header {
    padding: 45px 15% 0;
    padding-bottom: 41px;
}
  
.header::after {
    content: "";
    display: block;
    border-bottom: 1px solid #545454;
    opacity: .7;
    padding-top: 41px;
}


@media screen and (max-width: 1024px) {
    .header {
        border-bottom: 1px solid #545454;
        padding: 28px 27px 31.6px;
    }
}

@media screen and (max-width: 1024px) {
    .header::after {
        display: none;
    }
}
