.elements__like {
    background-image: url(../../../images/like.svg);
    background-color: inherit;
    background-position: center;
    background-repeat: no-repeat;
    min-width: 22px;
    height: 19px;
    border: 0;
    cursor: pointer;
    transition: all .2s linear;
}
  
.elements__like:hover {
    opacity: 0.5;
} 

@media screen and (max-width: 768px) {
    .elements__like:hover {
        opacity: 1;
    }
}