.elements__like {
    background-image: url(../../../images/like.svg);
    background-color: inherit;
    background-position: center;
    background-repeat: no-repeat;
    min-width: 22px;
    height: 19px;
    border: 0;
    cursor: pointer;
}
  
.elements__like:hover {
    opacity: 0.6;
} 