.popup__button-close {
    position: absolute;
    background-image: url(../../../images/Close-Icon.svg);
    width: 32px;
    height: 32px;
    border: none;
    background-color: transparent;
    background-repeat: no-repeat;
    top: -40px;
    right: -40px;
    cursor: pointer;
}
  
.popup__button-close:hover {
    opacity: 0.6;
}

@media screen and (max-width: 768px) {
    .popup__button-close {
        background-image: url(../../../images/CloseIcon-Mobile.svg);
        width: 20px;
        height: 20px;
        right: 0;
        top: -36px;
    }
}