.elements__gallery-item {
    width: 282px;
    background-color: #FFFFFF;
    overflow: hidden;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
    transition: transform .2s ease-out;
}

.elements__gallery-item:hover {
    transform: scale(1.02);
}
  
@media screen and (max-width: 768px) {
    .elements__gallery-item:hover {
      transform: none;
    }
}